{
  "semi": false,
  "singleQuote": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-glsl"],
  "overrides": [
    {
      "files": ["*.frag", "*.vert", "*.glsl"],
      "options": {
        "parser": "glsl-parser"
      }
    }
  ]
}
